{% extends "default.html" %}
{% block title %}Firmware Component Tags{% endblock %}

{% block nav %}{% include 'component-nav.html' %}{% endblock %}

{% block content %}

{% if md.fw.remote.name == 'stable' %}
  <div class="alert alert-danger mt-1" role="alert">
    This firmware has already been pushed to {{md.fw.remote.name}} and in this
    target no modifications are possible.
  </div>
{% elif md.fw.remote.name == 'testing' and md.check_acl('@modify-appstream-id') %}
  <div class="alert alert-warning mt-1" role="alert">
    This firmware has already been pushed to the {{md.fw.remote.name}} target (which is public)
    and so <strong>any modifications should be done very carefully</strong>.
  </div>
{% endif %}

<div class="card mt">
  <div class="card-body">
<h5>Component Tags</h5>
<p class="card-text">
  Tags can be used to identify a vendor-specific keyword to the component release, for example
  identifying components included in a specific service pack or combined update.
</p>
<p class="card-text">
  Users with fwupd version >= 1.7.3 can install multiple firmware files using the tag value,
  for example using <code>fwupdmgr sync-bkc</code>.
</p>
<table class="table card-text mt-3">
{% for tag in md.tags %}
  <tr class="row">
    <td class="col col-sm-10">
      <code>{{tag.value}}</code>
    </td>
    <td class="col col-sm-2 text-right">
{% if md.check_acl('@modify-appstream-id') %}
      <form action="{{url_for('components.route_tag_delete', component_id=tag.md.component_id, tag_id=tag.tag_id)}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
        <button class="btn-block btn btn-warning">Remove</button>
      </form>
{% else %}
      <button class="btn-block btn btn-secondary" disabled="1">Remove</button>
{% endif %}
    </td>
  </tr>
{% endfor %}
{% if md.check_acl('@modify-appstream-id') %}
  <tr class="row table-borderless">
    <form class="form-inline" action="{{url_for('components.route_tag_create', component_id=md.component_id)}}" method="POST" >
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <td class="col col-sm-10">
        <input type="text" class="form-control fixed-width" name="value" placeholder="lenovo-2021q1"/>
        <p class="card-text text-muted mt-3">
          Values should be lowercase, have no whitespace and be namespaced with the vendor name.
        </p>
      </td>
      <td class="col">
        <input type="submit" class="btn btn-primary btn-block" value="Add"/>
      </td>
    </form>
  </tr>
{% endif %}
</table>
  </div>
</div>


{% endblock %}
