{% extends "default.html" %}
{% block title %}Issue Details{% endblock %}

{% block nav %}{% include 'issue-nav.html' %}{% endblock %}

{% block content %}
{% if reports_cnt == 0 %}
<div class="alert alert-light" role="alert">
  None!
</div>
{% endif %}

{% for r in reports %}
<div class="card mt-3">
  <h2 class="card-header card-title list-group-item-{{r.color}}">
    {{r.fw.vendor.display_name}} {{r.fw.names|join(' & ')}}
    <code class="float-right">{{format_humanize_naturaltime(r.timestamp)}}</code>
  </h2>
  <div class="card-body">
    <table class="table">
{% for attr in r.attributes|sort %}
      <tr class="row table-borderless">
        <th class="col col-sm-4">{{attr.key}}</th>
        <td class="col col-sm-8"><code>{{attr.value}}</code></td>
      </tr>
{% endfor %}
    </table>
    <div class="form-inline">
      <a class="card-link btn btn-info mx-1" href="{{url_for('firmware.route_show', firmware_id=r.fw.firmware_id)}}">Details</a>
      <form action="{{url_for('reports.route_delete', report_id=r.report_id)}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
        <button class="card-link btn btn-danger mx-1">Delete</button>
      </form>
    </div>
  </div>
</div>
{% endfor %}
{% for r in reports_hidden %}
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">{{r.timestamp}}</h2>
    <code class="card-text">JSON not available for security level</code>
  </div>
</div>
{% endfor %}

{% endblock %}
