{% extends "default.html" %}
{% block title %}Device Status{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <h2 class="card-title">Device Status uploaded by {{vendor.display_name_with_team}}</h2>
{% if cats|length > 1 %}
    <div class="dropdown float-left">
      <button class="card-link btn btn-secondary dropdown-toggle"
              type="button" id="dropdownMenu1" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        Filter
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <a class="dropdown-item"
           href="{{url_for('devices.route_status', category_id=0, vendor_id=vendor.vendor_id)}}">
          None
        </a>
{% for cat in cats %}
        <a class="dropdown-item"
           href="{{url_for('devices.route_status', category_id=cat.category_id, vendor_id=vendor.vendor_id)}}">
          {{cat.name}}
        </a>
{% endfor %}
      </div>
    </div>
{% endif %}
    <div class="float-right">
      <a class="card-link btn btn-info"
         href="{{url_for('devices.route_status_csv', category_id=category_id, vendor_id=vendor.vendor_id)}}">
        Export as CSV
      </a>
    </div>
  </div>
</div>

<div class="card mt-3">
  <div class="card-body">
{% if not appstream_ids %}
    <p class="card-text">No devices to show!</p>
{% else %}
    <table class="table card-text">
      <tr class="row table-borderless">
        <th class="col col-sm-6">Model</th>
        <th class="col col-sm-1">Private</th>
        <th class="col col-sm-1">Embargo</th>
        <th class="col col-sm-1">Testing</th>
        <th class="col col-sm-1">Stable</th>
        <th class="col col-sm-2">&nbsp;</th>
      </tr>
{% for appstream_id in appstream_ids|sort %}
{% set md_by_remote = appstream_ids[appstream_id] %}
<tr class="row">
  <td class="col col-sm-6">
    <h5>
      {% set md = md_by_id[appstream_id] %}
      {{md.name_with_vendor}}
    </h5>
    <code class="text-muted">{{appstream_id}}</code>
{% set product = md.product %}
{% if product and product.state %}
    <p class="text-muted mt-3">
      Set as {{product.state_display}} {{format_humanize_naturaltime(product.mtime)}} by <code>{{product.user.username}}</code>
    </p>
{% endif %}
  </td>
{% for remote_id in ['private', 'embargo', 'testing', 'stable'] %}
  <td class="col col-sm-1">
    {% set md = md_by_remote.get(remote_id) %}
{% if md %}
    <a href="{{url_for('firmware.route_show', firmware_id=md.fw.firmware_id)}}">
      {{md.version_display}}
    </a>
{% else %}
      —
{% endif %}
  </td>
{% endfor %}

  <td class="col col-sm-2">
    {% set product = md_by_id[appstream_id].product %}
    <a class="btn btn-info btn-block" href="{{url_for("search.route_fw", value=appstream_id)}}">Show All</a>
{% if product and product.state != None %}
    <form action="{{url_for('devices.route_device_state', component_id=md.component_id, state="active")}}" method="POST">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <button class="mt-2 btn btn-warning btn-block">Mark Active</button>
    </form>
{% else %}
    <form action="{{url_for('devices.route_device_state', component_id=md.component_id, state="eol")}}" method="POST">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <button class="mt-2 btn btn-danger btn-block">Mark EOL</button>
    </form>
{% endif %}
  </td>

</tr>
{% endfor %}
    </table>

{% endif %}
  </div>
</div>
{% endblock %}
